.home {
    padding: 20px;
    box-sizing: border-box;

    .add-task {
        padding: 10px 20px;
        box-sizing: border-box;
        background: var(--color-primary);
        border-radius: 5px;
        color: #fff;

        &:hover {
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
        }
    }
    .list-task, .mission {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .task {
            border-radius: 5px;
            box-sizing: border-box;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
            height: 100%;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;

            .group-info, .group-btn {
                width: 100%;
            }

            .title {
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }

            .btn {
                padding: 5px 10px;
                box-sizing: border-box;
                border: 0px;
                border-radius: 5px;
                &:hover {
                    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
                }
            }

            .bg-danger {
                background: var(--color-danger);
                color: #fff;
            }

            .bg-warning {
                background: var(--color-warning);
                color: #fff;
            }

            .bg-success {
                color: #fff;
                background: var(--color-success);
            }

            .color-warning {
                color: var(--color-warning);
            }

            .color-success {
                color: var(--color-success);
            }
        }
    }

    .colGrid:nth-child(2) {
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }

    .colGrid {
        padding: 10px;
        box-sizing: border-box;
    }

    .progress-bar {
        width: 100%;
        background-color: #f3f3f3;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 10px;
    }

    .progress {
        height: 100%;
        background-color: var(--color-primary);
    }
}
