<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Task</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global.css') }}"
    />
    <link
      rel="stylesheet/less"
      href="{{ url_for('static', filename='add-task.less') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="add-task">
      <h1 class="text-xl font-bold text-center mb-5">Thêm nhiệm vụ</h1>
      <div class="wrapper">
        <form class="form" method="POST">
          {{ form.hidden_tag() }}
          <div>{{ form.title.label }}</div>
          <div class="input">{{ form.title }}</div>
          <div>{{ form.description.label }}</div>
          <div class="input">{{ form.description }}</div>
          <div>{{ form.priority.label }}</div>
          <div class="input">{{ form.priority }}</div>
          <div class="form-group mt-2">{{ form.category.label }}</div>
          <div class="input">{{ form.category() }}</div>
          <div class="flex justify-center mt-3">
            <button class="update" type="submit">Thêm</button>
          </div>
        </form>
      </div>

      <div class="flex justify-center mt-4 gap-3">
        <div class="back-to-list">
            <a href="{{ url_for('index') }}">Trang chủ </a>
        </div>
        <div class="back-to-list">
            <a href="{{ url_for('categories') }}">Danh sách danh mục</a>
        </div>
      </div>
    </div>
  </body>
</html>
