<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo List</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global.css') }}"
    />
    <link
      rel="stylesheet/less"
      href="{{ url_for('static', filename='index.less') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="home">
      <h1 class="text-xl font-bold text-center mb-5">Danh sách nhiệm vụ</h1>

      {% if current_user.role == 'admin' %}
      <a class="flex mb-3" href="{{ url_for('add_task') }}">
        <div class="add-task">Thêm nhiệm vụ</div>
      </a>
      {% endif %}
      <ul class="list-task">
        {% for task in tasks %}
          {% if task.assigned_to == current_user.username or current_user.role == 'admin' %}
          <li class="task">
            <div class="group-info">
              <h3 class="title">{{ task.title }}</h3>
              <hr class="mt-2 mb-3" />
              <div class="flex justify-between items-center mb-2">
                <p>Ưu tiên:</p>
                <p class="font-bold">
                  {% if task.priority == 'low' %} Thấp {% elif task.priority ==
                  'medium' %} Trung bình {% else %} Cao {% endif %}
                </p>
              </div>
              <div class="flex justify-between items-center mb-2">
                <p>Người thực hiện:</p>
                <p class="font-bold">{{ task.assigned_to }}</p>
              </div>
              <div class="flex justify-between items-center mb-2">
                <p>Trạng thái :</p>
                <p
                  class="{% if task.completed == 'True' %} color-success {% else %} color-warning {% endif %} font-bold"
                >
                  {% if task.completed == 'True' %} Hoàn thành {% else %} Đang
                  thực hiện {% endif %}
                </p>
              </div>
              <p class="mb-2 text-xs">{{ task.description }}</p>
            </div>
            <div class="group-btn mt-3">
              {% if task.assigned_to == current_user.username or current_user.role == 'admin' %}
              {% if task.completed == 'True' %}
              <a
                class="btn bg-danger"
                href="{{ url_for('not_complete_task', index=loop.index - 1) }}"
                >Đang làm</a
              >
              {% else %}
              <a
                class="btn bg-success"
                href="{{ url_for('complete_task', index=loop.index - 1) }}"
                >Hoàn thành</a
              >
              {% endif %}
              {% endif %}
              {% if current_user.role == 'admin' %}
              <a
                class="btn bg-warning"
                href="{{ url_for('edit_task', index=loop.index - 1) }}"
                >Sửa</a
              >
              <a
                class="btn bg-danger"
                href="{{ url_for('delete_task', index=loop.index - 1) }}"
              >
                Xoá
              </a>
              {% endif %}
            </div>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
